body {
  background-color: #e8ecf1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='355' height='42.6' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23e2e6eb' stroke-width='3.5' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size:28px;
}
body.night-mode {
  color:#d5d5d5;
  background-color: #000;
  background-image:none;
}

body.night-mode .item, body.night-mode .item .hexagon  {
  background-color:#000;
  background-image:none;
  
}
body.night-mode .item {
  border: 2px solid #210959;
}
body.night-mode .item.active, body.night-mode .item.active .hexagon  {
  background-color: #000022;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke-opacity='0.12'%3E%3Cg stroke='%23026' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%23002163' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%23002060' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%23001f5c' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%23001e59' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%23001d56' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%23001c53' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%23001b4f' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%23001a4c' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23001949' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23001846' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23001743' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%2300163f' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%2300153c' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23001439' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23001336' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23013' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  /* background-color:#212121;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%2300615b' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E"); */
}
body.night-mode .item.active .hexagon:before {
  background-image: url("/assets/img/power-grey.svg");
}

.viewport-container {
  width: 100%;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 5px 1fr 5px;
  /* grid-template-rows: repeat(1fr); */
  grid-column-gap: 5px;
  grid-row-gap:10px;
  position: relative;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 10px auto;
  height:calc(100vh - 20px);
}

.item {
  width: 100%;
  background-color: #2574a9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23226b9c' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%2320628f' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%231d5982' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%231a5176' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%2317486a' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%2315405e' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23123852' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position:center;
  /* background-color: #2574a9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23216898' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%231d5c86' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%231a5075' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23164463' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23123852' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */
  -webkit-box-shadow: inset 0px -5px 37px -10px rgba(61,61,61,0.58);
  -moz-box-shadow: inset 0px -5px 37px -10px rgba(61,61,61,0.58);
  box-shadow: inset 0px -5px 37px -10px rgba(61,61,61,0.58);
  grid-column-start:2;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  display:flex;
  align-items: center;
  justify-content:center;
  position:relative;
  overflow:hidden;
  border: 2px solid transparent;
}
.item .hexagon {
  display:flex;
  align-items: center;
  justify-content:center;
  position:relative;
}

.item:nth-child(2) {
  grid-column-start: 2;
  grid-row-start: 1;
}
.item.active {
  font-weight:bold;
  background-color: #00635d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%2300615b' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment:scroll;
  background-size:auto;
}
   
.item.active .hexagon:before {
  position:absolute;
  content:'';
  display:block;
  top: 1px;
  left: -50px;
  width:30px;
  height:30px;
  background-image: url("/assets/img/power.svg");
  background-size:100% auto;
}
.item .hexagon.night-btn:before, .item .hexagon.day-btn:before {
  position:absolute;
  content:'';
  display:block;
  top: 1px;
  left: -50px;
  width:30px;
  height:30px;
  background-size:100% auto;
}
.item .hexagon.night-btn:before {
  background-image: url("/assets/img/clear-night.svg");
}
.item .hexagon.day-btn:before {
  background-image: url("/assets/img/sunny-day.svg");
}
.item.hidden {
  display: none;
  opacity: 0.3;
}

.item * {
  visibility: visible
}


@media(min-width: 768px) {
  body.night-mode {
    background-color: #140635;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='355' height='42.6' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23210959' stroke-width='3.5' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  }
  .container {
    grid-template-columns: repeat(6, 120px);
    grid-template-rows: auto;
    grid-row-gap:0px;
    width: 746px;
    margin-top:90px;
    padding-left:5px;
    height:auto;
  }
  .item {
    grid-column: span 2;
    width: 240px;
    padding: 0 0 278px 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    background: #000000;
    overflow: hidden;
    visibility: hidden;
    margin-top: -60px;
    border-radius:0;
  }
  .item:nth-child(5n+1) {
    grid-column-start: 1;
  }
  .item:nth-child(5n+2) {
    grid-column-start: 3;
  }
  .item:nth-child(5n+3) {
    grid-column-start: 5;
  }
  .item:nth-child(5n+4) {
    grid-column-start: 2;
  }
  .item:nth-child(5n) {
    grid-column-start: 4;
  }
  .item .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #216796;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='15.4%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23216796'/%3E%3Cstop offset='1' stop-color='%232574a9'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='64.8%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23216796'/%3E%3Cstop offset='1' stop-color='%23174666'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='0.24'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    /* background-image: url("https://picsum.photos/250/250/?image=870"); */
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
    text-align: center;
  }
  .item.active {
    font-weight:bold;
    
  }
  .item.active .hexagon {
    background-color: #00635d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%2300615b' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment:scroll;
    background-size:auto;
  }
  .item.active .hexagon:before {
    bottom: -100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
    height: 40px;
  }
  .item .hexagon.night-btn:before, .item .hexagon.day-btn:before {
    bottom: -100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
    height: 40px;
  }
}

@media(min-width: 1017px) {
  .container {
    grid-template-columns: repeat(8, 120px);
    width: 996px
  }
  .item:nth-child(1) {
    grid-column-start: 3;
    grid-row-start: 1;
  }
  .item:nth-child(2) {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .item:nth-child(3) {
    grid-column-start: 5;
    grid-row-start: 1;
  }
  .item:nth-child(4) {
    grid-column-start: 2;
    grid-row-start: 2
  }
  .item:nth-child(5) {
    grid-column-start: 4;
    grid-row-start: 2
  }
  .item:nth-child(6) {
    grid-column-start: 6;
    grid-row-start: 2;
  }
  .item:nth-child(7) {
    grid-column-start: 7;
    grid-row-start: 1;
  }
  .item:nth-child(8) {
    grid-column-start: 3;
    grid-row-start: 3
  }
  .item:nth-child(9) {
    grid-column-start: 5;
    grid-row-start: 3
  }
  .item:nth-child(10) {
    grid-column-start: 7;
    grid-row-start: 3
  }
  .item:nth-child(11) {
    grid-column-start: 1;
    grid-row-start: 3
  }
  .item.hidden {
    display: block;
  }
  .item.visible-lg {
    display:none;
  }
}

@media(min-width: 1280px) {
  .container {
    grid-template-columns: repeat(8, 120px);
    width: 1240px
  }
  .item:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .item:nth-child(2) {
    grid-column-start: 5;
    grid-row-start: 1;
  }
  .item:nth-child(3) {
    grid-column-start: 9;
    grid-row-start: 1;
  }
  .item:nth-child(4) {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .item:nth-child(5) {
    grid-column-start: 8;
    grid-row-start: 2;
  }
  .item:nth-child(6) {
    grid-column-start: 1;
    grid-row-start: 3;
  }
  .item:nth-child(7) {
    grid-column-start: 3;
    grid-row-start: 1;
  }
  .item:nth-child(8) {
    grid-column-start: 3;
    grid-row-start: 3;
  }
  .item:nth-child(9) {
    grid-column-start: 7;
    grid-row-start: 3;
  }
  .item:nth-child(10) {
    grid-column-start: 9;
    grid-row-start: 3;
  }
  .item:nth-child(11) {
    grid-column-start: 7;
    grid-row-start: 1;
  }
  .item:nth-child(12) {
    grid-column-start: 4;
    grid-row-start: 2;
  }
  .item:nth-child(13) {
    grid-column-start: 6;
    grid-row-start: 2;
  }
  .item:nth-child(14) {
    grid-column-start: 5;
    grid-row-start: 3;
  }
  .item.visible-lg {
    display:block;
  }
}

/* .container {
  display: grid;
  margin: 0 auto;
  width: 100%;

}

@media (min-width: 768px) {
  .container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(9, 1fr);

  }

  .container div {
    clip-path: polygon(25% 0, 0 50%, 25% 100%, 75% 100%, 100% 50%, 75% 0);
    background-color: lime;
    width: 200%;
    margin-left:-50%;
  }

  .container div:before {
    content: '';
    display: block;
    padding-top: 70%;
  }

  .container div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .container div:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .container div:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .container div:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .container div:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .container div:nth-child(6) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .container div:nth-child(7) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .container div:nth-child(8) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */