body{
  background:  #2E2F45;
  color: #319FBD;
}
h1, h2, h3{
    font-weight: 100;
    text-align: center;
}
h1, h2{
  font-family: 'La Belle Aurore', cursive;
  line-height: 20pt;
}
h1{ font-size: 30pt;}
h2{ font-size: 24pt;}

h3{
  font-family: 'Open Sans', serif;
  font-size: 10pt;
}
.viewport-container {
  width:100%;
  overflow:hidden;
}
.container{
  display: grid;
  grid-template-columns: repeat(10, 120px);
  grid-column-gap: 5px;
  margin-top: 65px;
  width: 1040px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.item{
  grid-column: span 2;
  width: 240px;
  padding: 0 0 278px 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  background: #fd005f;
  overflow: hidden;
  visibility: hidden;
  margin-top: -60px;
}

.item:nth-child(9n+1){ grid-column-start: 1;}
.item:nth-child(9n+2){ grid-column-start: 3;}
.item:nth-child(9n+3){ grid-column-start: 5;}
.item:nth-child(9n+4){ grid-column-start: 7;}
.item:nth-child(9n+5){ grid-column-start: 9;}
.item:nth-child(9n+6){ grid-column-start: 2;}
.item:nth-child(9n+7){ grid-column-start: 4;}
.item:nth-child(9n+8){ grid-column-start: 6;}
.item:nth-child(9n){ grid-column-start: 8;}

.hexagon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://picsum.photos/250/250/?image=870");
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
  
}
    
.item *{
    visibility: visible
}

/**** Responsive wizardry ****/

@media(max-width: 1100px){
  .container{
    grid-template-columns: repeat(8, 120px);
    width: 992px
  }
.item:nth-child(7n+1){ grid-column-start: 1;}
.item:nth-child(7n+2){ grid-column-start: 3;}
.item:nth-child(7n+3){ grid-column-start: 5;}
.item:nth-child(7n+4){ grid-column-start: 7;}
.item:nth-child(7n+5){ grid-column-start: 2;}
.item:nth-child(7n+6){ grid-column-start: 4;}
.item:nth-child(7n){ grid-column-start: 6;}
}

@media(max-width: 850px){
  .container{
    grid-template-columns: repeat(6, 120px);
    width: 620px
  }
.item:nth-child(5n+1){ grid-column-start: 1;}
.item:nth-child(5n+2){ grid-column-start: 3;}
.item:nth-child(5n+3){ grid-column-start: 5;}
.item:nth-child(5n+4){ grid-column-start: 2;}
.item:nth-child(5n){ grid-column-start: 4;}
}

@media(max-width: 720px){
  .container{
  grid-template-columns: repeat(4, 120px);
    width: 410px;
  }
  .item:nth-child(3n+1){ grid-column-start: 1;}
  .item:nth-child(3n+2){ grid-column-start: 3;}
  .item:nth-child(3n){ grid-column-start: 2;}
}



/* .container {
  display: grid;
  margin: 0 auto;
  width: 100%;

}

@media (min-width: 768px) {
  .container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(9, 1fr);

  }

  .container div {
    clip-path: polygon(25% 0, 0 50%, 25% 100%, 75% 100%, 100% 50%, 75% 0);
    background-color: lime;
    width: 200%;
    margin-left:-50%;
  }

  .container div:before {
    content: '';
    display: block;
    padding-top: 70%;
  }

  .container div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .container div:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .container div:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .container div:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .container div:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .container div:nth-child(6) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .container div:nth-child(7) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .container div:nth-child(8) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */